@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.cont .container{
  position: relative;
}


  .grid {
    display: grid;
    grid-template-columns: repeat(190, 1fr); /* 190 колонок одинакового размера */
    grid-template-rows: repeat(90, 1fr); /* 90 строк одинакового размера */
    gap: 2px; /* Зазор между элементами, если нужно */
    width: 100vw; /* Ширина контейнера */
    height: 100vh; /* Высота контейнера на всю высоту экрана */

  }

  .cell{
    background-color: white;
  }
