@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.cont .container{
  position: relative;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 150px auto;
  height: 250px;
  justify-content: space-between;
  width: 350px;
  padding: 20px;
  background: #d71d1d;
  border-radius: 5px;
  border: 3px solid #31d21f;
  align-items: center;
}
.input {
  background: white;
  color: black;
}
.btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
  padding: 20px;
  background: #d71d1d;
  border-radius: 5px;
  border: 3px solid #31d21f;
  width: 350px

}

.btn {
  width: 75%;
  background-color: blue;
  color: white;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}
.btn:disabled {
  background: grey;
}